[submodule "site-lisp/tern"]
	path = site-lisp/tern
	url = https://github.com/marijnh/tern.git
[submodule "site-lisp/emacs-color-theme-solarized"]
	path = site-lisp/emacs-color-theme-solarized
	url = https://github.com/mwolson/emacs-color-theme-solarized.git
[submodule "site-lisp/helm-mu"]
	path = site-lisp/helm-mu
	url = https://github.com/emacs-helm/helm-mu.git
[submodule "site-lisp/racer"]
	path = site-lisp/racer
	url = https://github.com/phildawes/racer.git
